In [1]:
# Imports
import requests  # send request
from bs4 import BeautifulSoup  # parse web pages
import pandas as pd  # csv
import time
from time import sleep  # wait
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [3]:
# Load JSON file into DataFrame
df_personal = pd.read_json("/data/lab/STA326/lab/STA326_Assignment1-main/data/task2/anon_user_dat.json")

# Display the DataFrame
print(df_personal)

     age                        email  gender
0     60  gshoreson0@seattletimes.com    Male
1     47           eweaben1@salon.com  Female
2     27      akillerby2@gravatar.com    Male
3     46            gsainz3@zdnet.com    Male
4     72     bdanilewicz4@4shared.com    Male
..   ...                          ...     ...
995    3        pstroulgerrn@time.com  Female
996   49  kbasnettro@seattletimes.com  Female
997   75  pmortlockrp@liveinternet.ru    Male
998   81         sphetterq@toplist.cz    Male
999   70        jtyresrr@slashdot.org    Male

[1000 rows x 3 columns]

In [4]:

# 提取公司名称
def extract_company(email):
    return email.split('@')[1].split('.')[0]

# 添加新列来存储公司名称
df_personal['company'] = df_personal['email'].apply(extract_company)

print(df_personal)

     age                        email  gender       company
0     60  gshoreson0@seattletimes.com    Male  seattletimes
1     47           eweaben1@salon.com  Female         salon
2     27      akillerby2@gravatar.com    Male      gravatar
3     46            gsainz3@zdnet.com    Male         zdnet
4     72     bdanilewicz4@4shared.com    Male       4shared
..   ...                          ...     ...           ...
995    3        pstroulgerrn@time.com  Female          time
996   49  kbasnettro@seattletimes.com  Female  seattletimes
997   75  pmortlockrp@liveinternet.ru    Male  liveinternet
998   81         sphetterq@toplist.cz    Male       toplist
999   70        jtyresrr@slashdot.org    Male      slashdot

[1000 rows x 4 columns]

In [5]:
# Load JSON file into DataFrame
df_employee = pd.read_json("/data/lab/STA326/lab/STA326_Assignment1-main/data/task2/employee_info.json")

# Display the DataFrame
print(df_employee)

     company first_name  last_name  gender  age
0    123-reg  Inglebert   Falconer    Male   42
1        163     Rafael   Bedenham    Male   14
2        163     Lemuel       Lind    Male   31
3        163      Penny    Pennone  Female   45
4        163       Elva   Crighton  Female   52
..       ...        ...        ...     ...  ...
995    zdnet      Guido    Comfort    Male   46
996    zdnet      Biron  Malkinson    Male   48
997   zimbio      Becka      Waryk  Female   27
998   zimbio   Andreana    Ladewig  Female   34
999   zimbio     Jobyna      Busek  Female   75

[1000 rows x 5 columns]

In [6]:
def employee_matcher(company, age, gender):
    filtered_df = df_employee.loc[(df_employee['company'] == company) & 
                                  (df_employee['age'] == age) & 
                                  (df_employee['gender'] == gender)]
    first_names = list(filtered_df['first_name'])
    last_names = list(filtered_df['last_name'])
    return first_names, last_names

# Extract all the private data
first_names = []
last_names = []

for i in range(len(df_personal)):
    company = extract_company(df_personal.loc[i, 'email'])
    age = df_personal.loc[i, 'age']
    gender = df_personal.loc[i, 'gender']
    fn, ln = employee_matcher(company, age, gender)
    first_names.append(fn)
    last_names.append(ln)

# Add the names to the original 'secure' dataset
df_personal['first_name'] = first_names
df_personal['last_name'] = last_names

# Print out the updated df_personal
print(df_personal)

     age                        email  gender       company  \
0     60  gshoreson0@seattletimes.com    Male  seattletimes
1     47           eweaben1@salon.com  Female         salon
2     27      akillerby2@gravatar.com    Male      gravatar
3     46            gsainz3@zdnet.com    Male         zdnet
4     72     bdanilewicz4@4shared.com    Male       4shared
..   ...                          ...     ...           ...
995    3        pstroulgerrn@time.com  Female          time
996   49  kbasnettro@seattletimes.com  Female  seattletimes
997   75  pmortlockrp@liveinternet.ru    Male  liveinternet
998   81         sphetterq@toplist.cz    Male       toplist
999   70        jtyresrr@slashdot.org    Male      slashdot

              first_name          last_name
0               [Gordon]        [DelaField]
1              [Elenore]          [Gravett]
2                 [Abbe]        [Stockdale]
3                [Guido]          [Comfort]
4                [Brody]         [Pinckard]
..                   ...                ...
995           [Penelopa]            [Roman]
996  [Anthiathia, Kandy]  [Baldwin, Cossam]
997               [Paco]      [Weatherburn]
998              [Sammy]           [Dymick]
999             [Josiah]         [Ayshford]

[1000 rows x 6 columns]